.img {
    width: 400px;
    height: 300px;
}

.card {
    background-color: rgb(10, 104, 186);
    height: 200px;
    width: 500px;
}

.body {
    text-align: center;
    color: #b0e4a1;
    
}

.head {
    text-align: start;
}


