.img {
    width: 400px;
    height: 300px;
}

.card {
    background-color: rgb(10, 104, 186);
    height: 200px;
    width: 500px;
}

.body {
    text-align: center;
    /*
    color: #b0e4a1;
    */
    
}

.head {
    text-align: start;
}

.button {
    background-color: green;
    padding: 10px 50px;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
    display: inline-block;

}
a:hover {
    background-color: yellow;
}


