.img {
    width: 400px;
    height: 300px;
}

.card {
    background-color: rgb(10, 104, 186);
    height: 200px;
    width: 500px;
}

body {
    background-color: aliceblue;
}

.head {
    text-align: start;
}

.button {
    background-color: green;
    padding: 10px 50px;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
    display: inline-block;

}
a:hover {
    background-color: yellow;
}

.header {
    text-align: center;
    font-size: 46px;
    color: white;
    background-color: black;
    border: 5px solid red;
}

.member-form {
    text-align: center;
}

.form-label {
    font-size: 14px; 
    font-weight: 600;
}

.form-label-radio {
    font-weight: 400;
    font-size: 12px;
}

